<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="/scripts/angular.min.js"></script>
</head>
<body>

    <!--AngularJS对象-->
    <div ng-init="person={LSW:'追风筝的人',EA:'EA丶'}">

        <p> {{ person.EA+person.LSW }}</p>

    </div>

    <!--AngularJS数组-->
    <div ng-init="Arrary=['风筝','风铃','小娜','小冰']">
        <p>{{Arrary[2]}}</p>
    </div>
    <!--AngularJS指令-->
    <div ng-init="LswName='天涯的海风'">
        <p>请输入你的名称</p>
        <hr />
        <p>
            姓名: <input type="text" ng-model="LswName" />
        </p>
        <p>您的姓名为:{{LswName}}</p>
    </div>

    <!--AnuglarJS指令——2-->
    <div ng-init="baicai=1;price=3">
        <p>
            数量 <input type="number" ng-model="baicai" />
        </p>
        <p>
            价格 <input type="number" ng-model="price" />
        </p>
        <p>总价 {{baicai * price}}</p>
    </div>

    <!--repeat重复指令 可看做foreach-->
    <div ng-init="FZfriends=['天涯的海风','普京','勾陈大帝','玉清元始天尊','上清灵宝天尊','太清道德天尊']">

        <p>下面的都是我的朋友们</p>
        <ul>
            <li ng-repeat="friend in FZfriends">
                {{ friend }}
            </li>
        </ul>

    </div>

    <!--repeat重复指令 作用到对象上-->
    <div ng-init="Dao=[{name:'玉清境清薇天元始天尊',alias:'原始天尊'},
     {name:'上清境禹馀天灵宝天尊',alias:'通天教主'},
     {name:'太清境大赤天道德天尊',alias:'太上老君'}
     ]">
        <p>三清</p>
        <ul>
            <li ng-repeat="temp in Dao">
                {{temp.name+', '+temp.alias}}
            </li>
        </ul>
    </div>

    <!--自定义指令-->
    <my-zhiling></my-zhiling>
    <div my-zhiling></div>
    <script>
        var app = angular.module("myApp", []);
        app.directive("myZhiling", function () {
            return {
                restrict: "AE",
                template: "<h1>哈哈哈!</h1>"
            };
        });
    </script>




  
</body>
</html>
