<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="../scripts/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>你的名称</p>
        <input ng-model="name" />
        <hr />
        <!--双向绑定-->
        你输入了 {{name}}
    </div>

    <script type="text/javascript">
        //使用控制器初始化元素
        var app = angular.module("myApp", []);
        app.controller('myCtrl', function($scope) {
            $scope.name = "天涯的海风";
        });
    </script>
</body>
</html>
