<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="../PublicJs/angular.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript">
        var app = angular.module("myApp", []);
        app.controller("MyCtrl", function ($scope) {
            //$scope.myName = "算天算地算自己--";
            $scope.sayHello = function (name) {
                alert("你好啊 " + name);
            }
        });
        /*app.directive("hello", function () {
            return {
                scope: {},
                restrict: "AE",
                template: "<div>{{name}}</div>",
                link: function (scope, element, attrs) {
                    scope.name = attrs.name;
                }
            }
        });*/
        /*app.directive("hello", function () {
            return {
                scope: {
                    name: "="
                },
                restrict: "AE",

                template: "<input type='text' ng-model='name'/>"
            }
        });*/
        app.directive("hello", function () {
            return {
                scope: {
                    sayhi: "&"
                },
                restrict: "AE",

                template: "<input type='text' ng-model='userName'/><br><button ng-click='sayhi({name:userName})'>按钮</button>"
            }
        });
    </script>
</head>
<body>
    <div ng-controller="MyCtrl">
        <!-- Ctrl
         <input type="text" ng-model="myName" /><br />
         指令-->
        <hello sayhi="sayHello(name)"></hello>
    </div>
</body>
</html>
