<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <script src="../PublicJs/angular.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript">
        var app = angular.module("MyApp", []);
        app.controller("UserController", function ($scope, $http) {

            $http.get("Data.ashx?action=GetUser").success(function (response) {
                console.log("成功");
                $scope.users = response.Data;
            }).error(function () { console.log("失败"); });


           /* $http({
                method: "Get",
                url: "Data/.ashx?action=GetUser"
            }).success(function (data, status, headers, config) {
                console.log("成功");
                alert(status);
                alert(headers);
                alert(config);
                $scope.users = data.Data;
            }).error(function (data, status, headers, config) {
                alert(status);
                alert(headers);
                alert(config);
            });*/
        });
        //自己的服务,可以注入其它的服务
        app.factory("userListService", function ($http) {
            var doRequest = function () {
                return $http.get("Data.ashx?action=GetUser");
            };
            return {
                users: function () {
                    return doRequest();
                }
            }
        });


        app.controller("MyService", function ($scope, $timeout, userListService) {
            var timeout;
            $scope.$watch("uName", function (newuName) {
                if (newuName) {
                    if (timeout) {
                        $timeout.cancel(timeout);
                    }

                    timeout = $timeout(function () {
                        userListService.users().success(function (data, status) {
                            $scope.users = data.Data;
                        });
                    }, 2000);

                };
            });
        });
    </script>
</head>
<body>
    <div ng-controller="UserController">
        <ul>
            <li ng-repeat="user in users">
                {{user.Name}}
            </li>
        </ul>
    </div>

    <div ng-controller="MyService">
        <input type="text" ng-model="uName" placeholder="请输入用户名" />
        <ul ng-show="uName">
            <li ng-repeat="user in users">
                {{user.Name}}
            </li>
        </ul>
    </div>
</body>
</html>
