<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="App/framework/angular.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript">
        var app = angular.module('app', []);
        app.controller('ctrl', function ($scope) {
            $scope.temp = "red";

            $scope.toggle = function () {
                $scope.temp = "gray";
            }
        });

        app.controller('ctrl2', function ($scope) {
            $scope.isred = true;
            $scope.isgray = false;
            $scope.toggle = function () {
                $scope.isred = false;
                $scope.isgray = true;
            }
        });
    </script>
    <style>
        .red {
            background-color: red;
        }

        .gray {
            background-color: gray;
        }
    </style>
</head>
<body>
    <div ng-controller="ctrl">
        <p class="{{temp}}" style="width: 200px; height: 150px"></p>
        <input type="button" value="切换样式" ng-click="toggle()" />
    </div>

    <div ng-controller="ctrl2">
        <p ng-class='{red:isred,gray:isgray}' style="width: 200px; height: 150px"></p>
        <input type="button" value="切换样式" ng-click="toggle()" />
    </div>
</body>
</html>
