<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <link href="../../PublicCSS/bootstrap.css" rel="stylesheet" />
    <script src="../../PublicJs/angular.js"></script>
    <script src="../../PublicJs/ui-bootstrap-tpls-0.11.0.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        var myModule = angular.module('MyApp', ['ui.bootstrap']);
        myModule.controller('AccordionDemoCtrl', [
            '$scope',
            function($scope) {

                $scope.oneAtATime = true;

                $scope.groups = [
                    {
                        title: '动态添加的Group头部一',
                        content: '动态添加的Group主体一'
                    }, {
                        title: '动态添加的Group头部二',
                        content: '动态添加的Group主体二'
                    }
                ];

                $scope.items = ['Item 1', 'Item 2', 'Item 3'];

                $scope.addItem = function() {
                    var newItemNo = $scope.items.length + 1;
                    $scope.items.push('Item ' + newItemNo);
                };

                $scope.status = {
                    isFirstOpen: true,
                    isFirstDisabled: false
                };
            }
        ]);

    </script>
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div ng-controller="AccordionDemoCtrl">
                    <p>
                        <button class="btn btn-default btn-md" ng-click="status.open=!status.open">切换最后一个panel</button>
                        <button class="btn btn-default btn-md" ng-click="status.isFirstDisabled=!status.isFirstDisabled">激活/禁用第一个panel</button>
                    </p>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="oneAtATime" />一次只打开一个panel
                    </label>
                    <accordion close-others="oneAtATime">
                        <accordion-group heading="第一个Panel" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            第一个panel的内容
                        </accordion-group>

                        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            {{group.content}}
                        </accordion-group>

                        <accordion-group heading="动态添加内容">
                            <p>主体可以根据groups的数量适应大小</p>
                            <button class="btn btn-default btn-md" ng-click="addItem()">添加Item</button>
                            <div ng-repeat="item in items">{{item}}</div>
                        </accordion-group>

                        <accordion-group is-open="status.open">
                            <accordion-heading>
                                最后一个panel <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            最后一个panel的内容
                        </accordion-group>


                    </accordion>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
