<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <!--在这里注册网站项目与文件格式-->
    <section name="sites" type="System.Configuration.DictionarySectionHandler"/>
    <section name="formats" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <sites>
    <!--网站项目-->
    <add key="Test/DianPing" value="点屏网"/>
    <add key="Test/APIBackstage" value="API后台"/>
  </sites>

  <formats>
    <!--文件格式-->
    <add key="1" value=".js"/>
    <add key="2" value=".jpeg"/>
    <add key="3" value=".jpg"/>
    <add key="4" value=".png"/>
    <add key="5" value=".css"/>
    <add key="6" value=".gif"/>
    <add key="7" value=".less"/>
  </formats>
  <appSettings>
    <add key="svnUser" value="liangshiwei" />
    <add key="svnPwd" value="shianyunduan.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">

      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>

  </system.web>
</configuration>