<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="secion1" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <secion1>
    <add key="sec1" value="sec1"></add>
    <add key="sec2" value="sec2"></add>
  </secion1>
</configuration>