/**总体样式**/
body{font-family: 宋体,Time New Roman; font-size: 13px; color: #666; padding: 0; margin: 0 auto; line-height:18px;background:url(all_bg.gif) repeat-y center; }
a:link {color: #777; text-decoration:none;}
a:visited {color: #777;text-decoration:none;}
a:hover {color: #ff0000; text-decoration:none; }
a:active {color: #424242; text-decoration:none;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{margin:0; padding:0; border:none; list-style-type:none;}
h1{ font-size:15px; color:#444;}
h3{ font-size:15px; color:#444;}
div{word-break:break-all;word-warp:warp;text-decoration:none;margin:0 auto;padding:0;}
.clear{clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.tr{ text-align:right;}
.tl{ text-align:left;}
.tc{ text-align:center;}

.top,#mian,#list,#foot{ width:950px;margin:0 auto;}
/**头部样式**/
#top{width:100%; background: url(s-top.png) left -104px; height:38px; margin-bottom:10px;background-color:#FFF;}
	.top{width:950px; padding-top:2px; line-height:36px; }
/**主体样式**/
#main{}
 .m_left{ width:728px; display:inline;} 
		.daodu{ border:1px solid #C3D4E7; padding:8px; margin-bottom:10px;} 
		#banner{ margin-bottom:10px;*margin-bottom:6px;}
			#banner img{ width:728px; height:90px;}
	.m_right{ width:194px; border:1px solid #C3D4E7; padding:8px; padding-bottom:6px;margin-bottom:10px;} 
    .t_ul{line-height:21px;}
#list{ width:948px; border:1px solid #C3D4E7; padding:10px 0; margin-bottom:10px;}

		.list_2{ width:454px;color:#999; padding:0 10px;}
			.list_2 img{ float:left; padding-right:10px; width:86px; height:120px;}
			.list_2 dt{ line-height:15px;}
			.list_2 dt h5 a{ font-size:15px; color:#666; font-weight:bold;line-height:17px \9;}
			.list_2 .d_type{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #C1D2E4; text-indent:26px;}

		.list_3{ width:296px;color:#999; padding:0 10px;}
			.list_3 img{ float:left; padding-right:10px; width:86px; height:120px;}
			.list_3 dt{ line-height:15px;}
			.list_3 dt h5 a{ font-size:15px; color:#666; font-weight:bold;line-height:17px \9;}
			.list_3 .d_type{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #C1D2E4; text-indent:26px; word-wrap:break-word;}
		
		.list_4{ width:223px;color:#999; padding:0 7px;position:relative;}
			.list_4 img{ float:left; padding-right:7px; width:56px; height:70px;}
			.list_4 dt{ line-height:15px;}
			.list_4 dt h5 a{ font-size:15px; color:#666; font-weight:bold; line-height:17px;} 
			.list_4 .d_type{ padding-bottom:8px; margin-bottom:8px; border-bottom:1px dotted #C1D2E4; }	
			.list_4:hover div{position:absolute; padding:5px; left:6px; top:75px; background-color: #F4F4F4; display:block;*display:none;width:220px; border:1px solid #C1D2E4; z-index:1;}
			.list_4 div{display:none;}
		.list_5{ width:173px;color:#999; padding:0 8px; position:relative;}
			.list_5 img{ float:left; padding-right:6px; width:36px; height:50px;}
			.list_5 dt{ line-height:15px;}
			.list_5 dt h5{ font-size:12px; color:#666;}
			.list_5 dt h5 a{ font-size:13px; color:#666; font-weight:bold;line-height:15px \9;}
			.list_5 { padding-bottom:8px; margin-bottom:8px; border-bottom:1px dotted #C1D2E4;}
			.list_5 d_type { padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #C1D2E4;}
			.list_5:hover div{position:absolute; padding:5px; left:8px; top:50px; background-color: #F4F4F4; display:block;*display:none; width:250px; border:1px solid #C1D2E4; z-index:1;}
			.list_5 div{display:none;}
/***底部内容**/
#foot{ height:50px; border-top:1px solid #C1D2E4; padding:6px 0; line-height:20px; }
	#foot ul{ width:650px; padding-left:160px;}
	#foot ul li{ display:block; float:left;} 