<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <link href="../css/Accordion.css" rel="stylesheet" />
    <script src="../../PublicJs/angular.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        var app = angular.module("MyApp", []);
        app.directive("accrdion", function () {
            return {
                replace: true,
                transclude: true,
                template: "<div ng-transclude></div>",
                controller: function () {
                    var expanders = [];
                    this.gotOpened = function (selectedExpander) {
                        angular.forEach(expanders, function (expander) {

                            //循环所有的对象,把除了当前对象的showMe设置为false
                            if (selectedExpander != expander)
                                expander.showMe = false;
                        });
                    }

                    //在数组中追加元素,如果没有此方法.则点击时expanders中无数据
                    this.addExpander = function (expander) {
                        expanders.push(expander);
                    };
                }
            };
        });
        app.directive("expander", function () {
            return {
                replace: true,
                transclude: true,
                require: "^?accrdion",
                scope: {
                    title: "=expanderTitle"
                },
                template: "<div>" +
                    "<div class='title' ng-click='toggle()'>{{title}}</div>" +
                    "<div class='body' ng-show='showMe' ng-transclude><div>" +
                    "</div>",
                link: function (scope, element, attrs, accdionController) {
                    //初始化时都为隐藏状态
                    //scope就代表当前的对象
                    scope.showMe = false;
                    accdionController.addExpander(scope);
                    scope.toggle = function toggle() {
                        scope.showMe = !scope.showMe;
                        accdionController.gotOpened(scope);
                    }
                }
            }
        });

        app.controller("SomeController", function ($scope) {
            $scope.expanders = [{
                title: '测试一',
                text: '这里是测试一'
            }, {
                title: '测试二',
                text: '这里是测试二'
            }, {
                title: '测试三',
                text: '这里是测试三'
            }];
        });
    </script>
</head>
<body ng-controller="SomeController">
    <accrdion>
        <expander class="expander" ng-repeat="expander in expanders" expander-title="expander.title">
            {{expander.text}}
        </expander>
    </accrdion>
  
</body>
</html>
